.App {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.App-padding {
  flex: 2
}

.App-section {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Card-back {
  left: 0px;
  height: 50vmin;
  pointer-events: none;
}

.Card {
  right: -275px;
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Card {
    animation: Card-slide 1 1s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Card-slide {
  from {
    transform: translateX(-275px)
  }
  to {
    transform: translateX(0px)
  }
}
